/*修改搜索框样式*/
#logo .search_menu{
	border:4px solid lightgray;
}
#logo .search_in{
	width: 445px;
}
/*修改全部商品分类样式*/
#shop_nav .menu{
	width: 200px;
	margin-right: 10px;
}
/*主体分类显示*/
#sort_cont{
	width: 1200px;
	margin: 0 auto;
}
#sort_cont .checkout{
	width: 210px;
	border: 1px solid #cccccc;
	background-color: #f7f7f7;
	border-bottom: 0;
	margin-left: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#sort_cont .checkout strong{
	display: inline-block;
	width: 105px;
	line-height: 35px;
	text-align: center;
	color: gray;
	font-size: 15px;
	cursor: pointer;
}
#sort_cont .checkout .active{
	background-color: #cf2828;
	color: white;
}
#sort_cont hr{
	border: 1px solid #c7012c;
}
/*商品分类页面*/
#sort_cont .page_1{
	width: 1195px;
	margin: 0 auto;
}
#sort_cont .page_1 .title{
	border: 1px solid #dddddd;
	margin:20px 0;
	box-shadow: 0 0 10px #dddddd;
	height: 100px;
	background: url(../img/sort/sort.png) no-repeat 13px 46px;
}
#sort_cont .page_1 .more{
	color: #666666;
	font-size: 14px;
	padding: 14px;
}
#sort_cont .page_1 .complex{
	display: block;
	width:222px;
	line-height: 38px;
	text-align: center;
	color: white;
	font-size: 15px;
	background-color: #c7012c;
	margin-left: 13px;
	opacity: 0;
	filter: alpha(opacity:0);
}
#sort_cont .page_1 .cont{
	width: 585px;
	border: 2px solid #dddddd;
	margin:55px 0 40px 0;
	position: relative;
}
#sort_cont .page_1 .mark{
	width: 35px;
	height: 26px;
	background: url(../img/sort/bg.png);
	border-bottom: 2px solid #c7012c;
	position: absolute;
	top:-28px;
}
#sort_cont .page_1 .sect{
	color: gray;
	font-size: 14px;
	overflow: hidden;
	padding: 0px 15px;
	line-height: 25px;
}
#sort_cont .page_1 .sect h3{
	color: #c7012c;
	line-height: 40px;
}
#sort_cont .page_1 .sect a{
	color: gray;
	margin: 0 10px;
}
#sort_cont .page_1 .sect a:hover{
	color: red;
}
/*品牌页面*/
#sort_cont .page_2{
	display: none;
}
#sort_cont .page_2 .famouse{
	padding: 15px;
	margin:40px 0;
	width: 1155px;
	border: 3px solid #f1f1f1;
	border-top:20px solid #f1f1f1;
	position: relative;
}
#sort_cont .page_2 .famouse .complex{
	display: block;
	width: 240px;
	height: 49px;
	background-image: url(../img/sort/complex.png);
	position: absolute;
	top:-55px;
	left:-2px;
}
#sort_cont .page_2 img{
	display: inline-block;
	margin: 10px 5px;
}
#sort_cont .page_2 .search{
	padding: 0 15px 20px 15px;
	width: 1155px;
	border: 3px solid #f1f1f1;
}
#sort_cont .page_2 .search .pointer{
	width: 15px;
	height: 14px;
	display: block;
	position: absolute;
	top:31px;
	left:5px;
	background-image: url(../img/sort/pointer.png);
}
#sort_cont .page_2 .search b{
	display: inline-block;
	width: 25px;
	text-align: center;
	line-height: 25px;
	border-radius: 12px;
	background-color: #333333;
	color: white;
	font-size: 18px;
	margin-left: 15px;
	cursor: pointer;
	position: relative;
}
#sort_cont .page_2 .name{
	width: 1150px;
	border: 2px solid #c7012c;
	margin-top: 20px;
	line-height: 40px;
	display: none;
}

#sort_cont .page_2 .name a{
	padding: 0 5px;
	color:gray;
}
#sort_cont .page_2 .name a:hover{
	color: white;
	background-color:#c7012c;
}
